{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="float-end">
        <button type="submit" form="form-payment" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" class="btn btn-outline-secondary"><i class="fa fa-reply"></i></a>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="container-fluid">
    {% if error_warning %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <i class="fa fa-exclamation-circle"></i> {{ error_warning }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endif %}

    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="card-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-payment" class="form-horizontal">

          <div class="row mb-3">
            <label class="col-md-2 col-form-label" for="input-mode">{{ entry_status }}</label>
            <div class="col-md-10">
              <select name="payment_duitku_pop_status" id="input-mode" class="form-select">
                <option value="1" {% if payment_duitku_pop_status %}selected{% endif %}>{{ text_enabled }}</option>
                <option value="0" {% if not payment_duitku_pop_status %}selected{% endif %}>{{ text_disabled }}</option>
              </select>
            </div>
          </div>

          <div class="row mb-3">
            <label class="col-md-2 col-form-label" for="payment_duitku_pop_display_name">{{ entry_display_name }}</label>
            <div class="col-md-10">
              <input type="text" name="payment_duitku_pop_display_name" value="{{ payment_duitku_pop_display_name }}" placeholder="{{ entry_display_name }}" id="payment_duitku_pop_display_name" class="form-control" />
              {% if error.display_name %}
                <div class="invalid-feedback d-block">{{ error.display_name }}</div>
              {% endif %}
            </div>
          </div>

          <div class="row mb-3">
            <label class="col-md-2 col-form-label" for="payment_duitku_pop_plugin_status">{{ entry_plugin_status }}</label>
            <div class="col-md-10">
              <select name="payment_duitku_pop_plugin_status" id="payment_duitku_pop_plugin_status" class="form-select">
                <option value="sandbox" {% if payment_duitku_pop_plugin_status == 'sandbox' %}selected{% endif %}>{{ sandbox_status }}</option>
                <option value="production" {% if payment_duitku_pop_plugin_status == 'production' %}selected{% endif %}>{{ production_status }}</option>
              </select>
            </div>
          </div>

          <div class="row mb-3">
            <label class="col-md-2 col-form-label" for="payment_duitku_pop_ui_mode">{{ entry_ui_mode  }}</label>
            <div class="col-md-10">
              <select name="payment_duitku_pop_ui_mode" id="payment_duitku_pop_ui_mode" class="form-select">
                {% if payment_duitku_pop_ui_mode == "popup" %}
                <option value="popup" selected="selected">{{popup_mode}}</option>
                <option value="redirect">{{redirect_mode}}</option>
                {% elseif payment_duitku_pop_ui_mode == "redirect" %}
                <option value="popup">{{popup_mode}}</option>
                <option value="redirect" selected="selected">{{redirect_mode}}</option>
                {% else %}
                <option value="popup">{{popup_mode}}</option>
                <option value="redirect">{{redirect_mode}}</option>
                {% endif %}
              </select>
            </div>
          </div>

          {# <div class="mb-3 row required">
            <label for="payment_duitku_pop_endpoint" class="col-sm-2 col-form-label">{{ entry_endpoint }}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_duitku_pop_endpoint" value="{{ payment_duitku_pop_endpoint }}" placeholder="{{ entry_endpoint }}" id="payment_duitku_pop_endpoint" class="form-control" />
              {% if error.endpoint %}
              <div class="invalid-feedback d-block">{{ error.endpoint }}</div>
              {% endif %}
            </div>
          </div> #}

          <div class="mb-3 row required">
            <label for="payment_duitku_pop_merchant" class="col-sm-2 col-form-label">{{ entry_merchant }}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_duitku_pop_merchant" value="{{ payment_duitku_pop_merchant }}" placeholder="{{ entry_merchant }}" id="payment_duitku_pop_merchant" class="form-control" />
              {% if error.merchant_code %}
              <div class="invalid-feedback d-block">{{ error.merchant_code }}</div>
              {% endif %}
            </div>
          </div>

          <div class="mb-3 row required">
            <label for="payment_duitku_pop_api_key" class="col-sm-2 col-form-label">{{ entry_api_key }}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_duitku_pop_api_key" value="{{ payment_duitku_pop_api_key }}" placeholder="{{ entry_api_key }}" id="payment_duitku_pop_api_key" class="form-control" />
              {% if error.api_key %}
              <div class="invalid-feedback d-block">{{ error.api_key }}</div>
              {% endif %}
            </div>
          </div>

          <div class="mb-3 row required">
            <label for="payment_duitku_pop_expiry_period" class="col-sm-2 col-form-label">{{ entry_expiry_period }}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_duitku_pop_expiry_period" value="{{ payment_duitku_pop_expiry_period }}" placeholder="The validity period of the transaction before it expires. (e.g 1 - 1440 (min))" id="payment_duitku_pop_expiry_period" class="form-control" />
              {% if error.expired_period %}
                <div class="text-danger">{{ error.expired_period }}</div>
              {% endif %}
            </div>
          </div>

          {% for status in statuses %}
          <div class="row mb-3">
            <label class="col-md-2 col-form-label" for="{{ status }}">{{ attribute(_context, 'entry_' ~ status) }}</label>
            <div class="col-md-10">
              <select name="{{ status }}" id="{{ status }}" class="form-select">
                {% for order_status in order_statuses %}
                <option value="{{ order_status.order_status_id }}" {% if order_status.order_status_id == attribute(_context, status) %}selected{% endif %}>{{ order_status.name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          {% endfor %}

          <div class="row mb-3">
            <label class="col-md-2 col-form-label" for="input-geo-zone">{{ entry_geo_zone }}</label>
            <div class="col-md-10">
              <select name="payment_duitku_pop_geo_zone_id" id="input-geo-zone" class="form-select">
                <option value="0">{{ text_all_zones }}</option>
                {% for geo_zone in geo_zones %}
                  <option value="{{ geo_zone.geo_zone_id }}" {% if geo_zone.geo_zone_id == payment_duitku_pop_geo_zone_id %}selected{% endif %}>{{ geo_zone.name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="text-center">
            <small class="text-muted">version v1.0.0</small>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}
