{{ header }} {{ column_left }} {{ column_right }}
{{ content_top }}
<div class="container" style="min-height: 300px;">
	<style>
	.flex-container {
		display: flex;
		align-content: center;
		align-items: center;
		justify-content: flex-start;
	}
	.flex-container > div {
		padding-left: 10px;
	}
	.info-duitku {
		border: 1px solid #2e4b94;
    padding: 10px 10px 0px;
    margin-bottom: 5px;
    font-weight: bold;
    border-radius: 10px;
	}
	</style>
	<div class="flex-container">
		<div>
			<img src="extension/duitku_pop/catalog/view/image/payment/logo.png" alt="img-duitku" style="height: 45px; width: auto;"/>
		</div>
		<div>
			<span style="font-size:27px; color:#2e4b94">Duitku Payment</span>
		</div>
	</div>
	<hr/>
	<div class="info-duitku">
		{% if(warning_message == "Minimum Payment 10000") %}
		<p>Minimum Payment is Rp.10000, Your payment amount is Rp.{{ current_amount }}</p>
		{% else %}
		<p>{{ warning_message }}</p>
		{% endif %}
	</div>
	<a href="{{ base_url }}" class="btn btn-info" id='checkout-button'>Continue Shopping</a>
</div>
{{ content_bottom }}
{{ footer }}
