{{ header }} {{ column_left }} {{ column_right }}
{{ content_top }}
<div class="container" style="min-height: 300px;">
  <span style="font-size:27px;" >Transaction Summary</span>
  <hr>
  {% if statusCode == '00' %}
  <div class="alert alert-success alert-dismissible">
    Your payment is succeed
  </div>
{% elseif statusCode == '01' %}
<div class="alert alert-info alert-dismissible">
  Awaiting your payment
</div>
{% else %}
<span>We noticed a problem with your order. Please do re-checkout.</span>
<span>If you think this is an error, feel free to contact our expert customer support team.</span>
{% endif %}
<table style="margin-bottom: 10px;">
  <tr>
    <td>Order ID</td>
    <td style="padding: 0px 5px;">:</td>
    <td>{{ merchantOrderId }}</td>
  </tr>
  <tr>
    <td>Reference number</td>
    <td style="padding: 0px 5px;">:</td>
    <td>{{ reference }}</td>
  </tr>
  <tr>
    <td>Amount (Rp)</td>
    <td style="padding: 0px 5px;">:</td>
    <td>{{ amount }}</td>
  </tr>
  <tr>
    <td>Transaction status</td>
    <td style="padding: 0px 5px;">:</td>
    <td>{{ statusMessage }}</td>
  </tr>
  <tr>
    <td>Fee</td>
    <td style="padding: 0px 5px;">:</td>
    <td>{{ fee }}</td>
  </tr>
</table>
{% if statusCode == '00' %}
<a href='{{home_url}}' class="btn btn-default">Browse our product</a>
{% elseif statusCode == '01' %}
<span>Please complete your payment as instructed before. Check your email for instruction. Thank You!</span>
{% else %}
<a href='{{checkout_url}}' class="btn btn-info">Re-Checkout</a>
{% endif %}
</div>
{{ content_bottom }}
{{ footer }}
